/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --title-color: #e53170;
    --card-bgc: #000000;
    --email-color: #60c1f0;
    --name-job-color: #ffffff;
}

/* generics */
body{
    font-family: 'Fredoka', sans-serif;
}

/* header */
 header > p, header > h1 {
    text-align: center;

}

header > h1 {
    padding:40px;
}

header > h1 {
    color: var(--title-color);
    font-weight: 900;
    font-size: 45px;
}


/* utilities */
.container { 
    max-width: 1100px;
    margin: 0 auto;
}

img {
    height: 100px;
    float: left;
    margin-right: 10px;
}

.name, .job {
    color: var(--name-job-color);
}

a {
    text-decoration: none;
    color: var(--email-color);
    
}

section {
    margin-top: 50px;
}

/* row clearfix */
.row::after {
    content: '';
    display: table;
    clear: both;
}

/* row */
.row {
    margin: 0 -10px;
}
 
/* card */
.column{
    float: left;
    width: calc(100% / 3 );
    padding: 0 10px;
    margin-bottom: 20px;
}

.card {
    background-color: var(--card-bgc);
}

.card > h1 {
    font-size: 20px;
    padding-top: 10px;
}

.card > p {
    padding: 3px;
}

/* card clearfix */
.card::after {
    content: '';
    display: table;
    clear: both;
}
